.views-row{
    padding: 0 50px;
}
.team {
    width: 100%;
    margin-top: 160px;
}


.team__title {
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #050C33;
}

.team__list {
    width: 1080px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.team__list-item {
    width: 280px;
    margin-top: 80px;
}

.team__photo {
    margin-bottom: 30px;
}

.team__photo img {
    width: 280px;
    height: 280px;
}

.team__descr-name {
    color: #050C33;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.team__descr-position {
    padding: 0;
    color: #505570;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    margin-bottom: 5px;
}

.team__btn {
    font-size: 12px;
    color: #050C33;
    border-radius: 5px;
    background-color: white;
    width: 260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(5, 12, 51, 0.2);
    margin: 80px auto 0px auto;
}
@media  (max-width: 767px){
    .views-row{
        padding: 0 15px;
    }
    .team__title{
        font-size: 24px;

     margin-top: initial;
    }
    .team__list-item{
        margin-top: 20px;
        width: 100%;
    }
    .team__photo{
        margin-bottom: 20px;
    }
    .team__photo img{
        width: 142.6px;
        height: 142.6px ;
    }
    .team__descr-name {
        width: 133.6px;
        margin-bottom: 5px;
    }
    .team__descr-position {
        font-size: 12px;
        width: 142.6px;
    }

}