@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    font-family:'Montserrat';
    font-size:inherit;
    font-style:inherit;
}


    /*styles for mobile*/


/* tarifs */

.wrapper-tarifs{
    padding-bottom: 45px;
    background-image: url(../img/tarifs-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 2237px;
}
.tarifs{
    padding-top: 95px;
    font-weight: 500;
}
.tarifs .orange{
    padding-top: 50px;
    color: orangered;
    font-size: 22px;
    font-weight: bold;
}
.tarifs ul{
    padding: 0;
    margin-left: 15px;
}
.tarifs li{
    list-style-image: url(../img/tarifs-galka.png);
    margin-bottom: 20px;
    opacity: 0.9;
    font-size: 14px;
}
.tarifs p{
    opacity: 0.5;
}
.tarifs a{
    color: black;
    font-size: 12px;
}
.tarifs a:hover{
    color: orangered;
    text-decoration: none;
}
.tarifs hr{
    border: 1px solid black;
    margin-top: 25px;
    margin-bottom: 15px;
}
.tarifs .row > h2{
    font-weight: bold;
}
.tarifs .row{
    padding: 15px;
}
.tarifs button{
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1.5px solid orangered;
    outline: none;
    background-color: transparent;
    color: orangered;
    margin-top: 40px;
}
.tarif1, .tarif2, .tarif3{
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(201, 190, 190);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
:is(.tarif1:hover, .tarif2:hover, .tarif3:hover) button{
    background-color: orangered;
    color:white;
}
.tarif1:hover, .tarif2:hover, .tarif3:hover{
    background-color: white;
}
@media (min-width:768px) {
    .tarif1:hover, .tarif2:hover, .tarif3:hover{
        transform: scale(1.1);
    }
}

/* tarifs */


/* task-time */

.task-time{
    padding-top: 45px;
    font-weight: 500;
}
.task-time p{
    opacity: 0.9;
    font-size: 14px;
}
.task-time h1, .task-time h2{
    font-weight: bold;
}
.task-time h1{
    text-align: center;
    font-size: 30px;
}
.task-time h2{
    line-height: 27px;
    margin-bottom: 50px;
}
.task-time .pic{
    text-align: center;
    margin-bottom: 15px;
    max-width: 200px;
    /*background-image: url(../img/competensions-icon-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom left;*/
}
.task-time .row > div{
    width: 230px;
    margin: 0px auto;
    margin-bottom: 10px;
}

/* task-time */


/* team */

.team{
    padding: 45px 16px;
}
.team h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
.team h3{
    font-size: 16px;
    font-weight: 700;
}
.team p{
    font-size: 12px;
    font-weight: 500;
    opacity: 0.9;
}
.team .pic{
    width: 100%;
    margin-bottom: 12px;
}
.team row{
    width: 100%;
}
.team .item{
    padding-left: 15px;
    padding-right: 15px;
}
.team button{
    font-size: 12px;
    width: 160px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(201, 190, 190);
    outline: none;
    background-color: white;
    font-weight: 500;
}

/* team */


/* cases */

.cases{
    padding: 15px;
    font-weight: 500;
}
.cases h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}
.cases .pic{
    height: 120px;
    border-radius: 5px;
}
.cases p{
    font-size: 13px;
    opacity: 0.8;
}
.cases .elem1, .cases .elem2, .cases .elem3{
    position: relative;
    height: 220px;
    color: white;
    border-radius: 5px;
}
.cases .elem1{
    background-image: url(../img/case2.jpg);
    background-size: cover;
    background-position: center;
}
.cases .elem2{
    background-image: url(../img/case3.jpg);
    background-size: cover;
    background-position: center;
}
.cases .elem3{
    background-image: url(../img/case4.jpg);
    background-size: cover;
    background-position: center;
}
.cases .content{
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 10px;
}
.cases .item .pic{
    margin-bottom: 15px;
}
.cases .item .p{
    padding: 0px 10px;
}
.cases .item .p p{
    margin-top: 5px;
}
.cases .data{
    font-weight: 300;
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 5px;
}
.cases h4{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}
.cases a{
    color: dodgerblue;
    text-decoration: none;
}
.cases .item .data{
    margin-bottom: 20px;
}

/* cases */



    /*styles for desktop*/

@media screen and (min-width: 767px) {

    /* tarifs */
    .wrapper-tarifs{
        padding-bottom: 100px;
        background-size: 1100px;
    }
    .tarifs h2{
        font-size: 42px;
    }
    .tarifs li{
        font-size: 17px;
    }

    /* tarifs */


    /* task-time */

    .task-time{
        padding-top: 170px;
    }
    .task-time .row > div{
        margin-left: 0px;
    }
    .task-time h1{
        text-align: justify;
    }
    .task-time h2{
        font-size: 42px;
        line-height: 50px;
    }
    .task-time p{
        font-size: 16px;
    }

    /* task-time */


    /* team */
    .team{
        padding-top: 150px;
    }
    .team h2{
        font-size: 42px;
    }
    .team p{
        font-size: 16px;
    }
    .team .item{
        padding-left: 75px;
        padding-right: 75px;
        margin-top: 65px;
    }
    .team button{
        width: 250px;
        height: 60px;
        margin-top: 40px;
    }

    /* team */


    /* cases */
    .cases .elem1, .cases .elem2, .cases .elem3{
        height: 430px;
    }
    .cases h2{
        font-size: 42px;

        margin-bottom: 40px;
    }
    .cases h4{
        font-size: 18px;
    }
    .cases .pic{
        height: 180px;
    }
    .cases .item .p{
        padding-top: 30px;
    }
    .cases p{
        font-size: 14px;
    }
    /* cases */

}

@media screen and (min-width: 1240px) {

    .tarifs{
        padding-top: 150px;
    }
}